<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="4.0" 
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"   
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">   
    <context-param>
    	<param-name>file-upload</param-name>
    	<param-value>C:\temp</param-value>
    </context-param>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>com.jcs.UploadServlet</servlet-class>
         <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile.do</url-pattern>
    </servlet-mapping>
</web-app>